@import "../fonts/index";
@import "./utils/reset";
@import "./utils/variable";
@import "./utils/mixins";
@import "./components/index";
@import "./vendors/index";

.container {
  max-width: 1262px;
  width: 95%;
  margin: 0 auto;
}

@import "./layout/index";
@import "./sections/index";
