@media (max-width: 990px) {
  .footer {
    &-items {
      grid-gap: 50px;
    }
  }
}

@media (max-width: 770px) {
  .footer {
    .container {
      padding: 50px 40px;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    .container {
      grid-template-columns: 1fr;
    }

    &-logo {
      margin-bottom: 40px;
      justify-self: center;
    }

    &-items {
      justify-self: center;
    }

    &-item {
      justify-self: center;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &-items {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
}
