@media (max-width: 1328px) {
  .today {
    &-item {
      width: 100%;

      &__image img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 540px) {
  .today {
    margin-bottom: 50px;
  }
}

@media (max-width: 444px) {
  .today {
    .title {
      font-size: 26px;
      padding-bottom: 4px;

      &.border-title:before {
        width: 186px;
      }
    }

    &-items {
      grid-template-columns: 1fr;
    }
  }
}
